*{
	margin:0px;
	padding:0px;
}
body{
	text-align: center;
}
#frm{
	margin: 200px;
	width: 600px;
	height: 250px;
	border: 1px solid ;
}
#content {
	 float: left;
	 
}
#content p{
	text-align: left;
	padding: 7px;
}
#input input{
	padding: 5px;
	 
}
#email{
	margin:5px;

}
#sdt{
	margin:4px;
}
#pass{
	margin:4px;
}
#confirmpass{
	margin:4px;
}