body{
	font-family: Merienda;
	font-size: 15px;
	width: 1000px;
	margin: 0px auto;
	background-size: cover;
}
#Head{
	height: 100px;
	
}
#main #left{
	width: 200px;
	height: 500px;
	float: left;
}
#main #right{
	width: 800px;
	height: 500px;
	float: left;
}
#footer{
	width: 1000px;
	height: 50px;
	clear: both;

}
#Head ul{
	margin: 0;
	padding: 0;
	list-style: none;

}
#Head ul li{
	display:block;
	padding-left: 10px;
	padding-top: 20px;
	margin: 0px 0px 0px 10px;
	float: left;
}
.item1{
	padding-top: 50px;
	font-size: 30px
}

#Head ul li #colorsign{
	background-color: #dcdcdc;
}
#Head ul .item2{
	padding-top: 20px;
	float: right;
}
#main #left ul{
	margin: 0;
	padding:0px;
}
#main #left ul li{
	padding-left: 15px;
	list-style: none;
	padding-bottom: 15px;
	font-size: 13px;
	font-family: Arial;
	color: gray;
}
.boss{
	width: 30%;
	position: relative;
	background-color: #ccc;
	display: inline-block;
	margin-left: 2%;
	margin-bottom: 3%;
	border-bottom-right-radius: 10px:
	border-bottom-left-radius:10px; 
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.boss>img{
	height: 200px;
	width: 100%;
}
.te-top{
	padding-top: 0px;
	padding-left: 20px;
	padding: 0;
}
.te-bottom{
	opacity: 0.8;
	color: white;
	border-bottom-right-radius: 10px:
	border-bottom-left-radius:10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	position: absolute;
	bottom: 0;
	background-color: black;
	width: 100%;
	margin: 0px;
	padding: 20px 0;

}
#footer ul{
	margin: 0;
	padding: 0px;
}
#footer ul li{
	float: left;
	list-style: none;
	padding-right: 10px;
	padding-bottom:30px;
	font-size: 12px;
}
#color1{
	margin-top: 33%;
	color: black;
}
.color{
	padding-top:33%;
	text-decoration: underline;
	color: blue;
}