*{
	margin:0;
	padding: 0;
}
body{
	width: 100%;
	 
}
.image{
	width: 20%;
	 position: relative;

	float: left;
	margin-left: 2%;

} 
.image img{
	width: 100%;
}
.image1  {
	text-align:center;
}
.shadow1{
	background-color: rgba(220, 205, 205, 0.63);
    position: absolute;
    top: 0;
    height: 100%;
    display: none;
   /* opacity: 0.5;*/
    /*opacity: nawmf trong khoangr tuwf 0 den 1*/
}
.shadow1 > div{
	padding-top: 10%;
}
.image:hover .shadow1{
	display: inline-block;
}
